*{
    padding: 0;
    margin: 0;
}
body{
    background-color:grey;
}
header{
    display: flex;
    height: 75px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img {
    height: 50px;
    margin-right: 10px  ;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:aqua;
}

@media(max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}


.container{
    display:flex;
    width: auto;
    height: auto;
    padding-left:100px;
    flex-direction: column;
    gap:5px;
    border:solid 5px black;
}

.container  .cajaImg{
    border:solid 5px black;
    display:flex;
    justify-content: space-between;
}
.cajaImg p{
    padding-right:35vw;
    padding-top:8vh;
    font-size:20px;
}


.container .cajaImg img{
    width:300px;
    height:auto;
    transition:500ms;
}
.container .cajaImg img:hover{
    transition:500ms;
    width:350px;
    height:auto;
    cursor: pointer;
}







footer{
    background-color: #111;
}

.footer{
    width: 90%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius:  50%; 
}

.socialicons  a i{
 font-size: 2em;
 color: black;
 opacity: 0.9;

}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;

}
.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7;
   transition: 0.5s;
}

.footernav ul  li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }

    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

